<mat-card class="mat-elevation-z0">
  <h3 mat-h3>Auto</h3>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel *ngFor="let car of cars; let index = index" class="mat-elevation-z1">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ car.name }} </mat-panel-title>
        <mat-panel-description>
          {{ car.consumption }}l/100km
          <mat-icon>{{ car.icon }}</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>Nimi</mat-label>
        <input matInput [(ngModel)]="cars[index].name" />
      </mat-form-field>
      <mat-form-field style="max-width: 115px">
        <mat-label>Kulutus</mat-label>
        <input type="number" matInput [(ngModel)]="cars[index].consumption" class="number-input" />
        <span matSuffix>l/100km</span>
      </mat-form-field>
      <button mat-button [matMenuTriggerFor]="menu" color="primary">
        IKONI&nbsp;&nbsp;<mat-icon>{{car.icon}}</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="car.icon = 'moped'"><mat-icon>moped</mat-icon></button>
        <button mat-menu-item (click)="car.icon = 'two_wheeler'"><mat-icon>two_wheeler</mat-icon></button>
        <button mat-menu-item (click)="car.icon = 'directions_car'"><mat-icon>directions_car</mat-icon></button>
        <button mat-menu-item (click)="car.icon = 'airport_shuttle'"><mat-icon>airport_shuttle</mat-icon></button>
        <button mat-menu-item (click)="car.icon = 'local_shipping'"><mat-icon>local_shipping</mat-icon></button>
        <button mat-menu-item (click)="car.icon = 'flight'"><mat-icon>flight</mat-icon></button>
      </mat-menu>
      <button mat-button color="warn" (click)="deleteCar(index)" [disabled]="form.controls.car.value === car">
        POISTA
      </button>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-card-actions>
    <button mat-button color="primary" (click)="addCar()">LISÄÄ UUSI AUTO</button>
  </mat-card-actions>
</mat-card>
<mat-card class="mat-elevation-z0" style="padding-bottom: 0px">
  <h3 mat-h3>Matka</h3>
  <div class="checkbox-section">
    <ul>
      <li>
        <mat-checkbox [(ngModel)]="settings.showDistanceSlider">Näytä liukusäädin</mat-checkbox>
      </li>
      <li>
        <mat-checkbox [(ngModel)]="settings.limitDistance" (change)="setValidators()"
          >Rajoita suurin pituus</mat-checkbox
        >
        &nbsp;
        <mat-form-field [ngClass]="{'hide-field': !settings.limitDistance}">
          <mat-label>Maksimi matka</mat-label>
          <input
            required
            min="1"
            matInput
            type="number"
            class="number-input"
            [(ngModel)]="settings.maxDistance"
            (change)="setValidators()"
          />
          <span matSuffix>km</span>
          <mat-error *ngIf="settings.maxDistance < 1"> Minimi matka on 1km </mat-error>
        </mat-form-field>
      </li>
    </ul>
  </div>
</mat-card>
<mat-card class="mat-elevation-z0" style="padding-bottom: 0px">
  <h3 mat-h3>Nopeudet</h3>
  <div class="checkbox-section">
    <ul>
      <li>
        <mat-checkbox [(ngModel)]="settings.showSpeedSlider">Näytä liukusäädin</mat-checkbox>
      </li>
      <li>
        <mat-checkbox [(ngModel)]="settings.limitSpeed" (change)="setValidators()">Rajoita suurin nopeus</mat-checkbox>
        &nbsp;
        <mat-form-field [ngClass]="{'hide-field': !settings.limitSpeed}">
          <mat-label>Maksimi nopeus</mat-label>
          <input
            required
            min="1"
            matInput
            type="number"
            class="number-input"
            [(ngModel)]="settings.maxSpeed"
            (change)="setValidators()"
          />
          <span matSuffix>km/h</span>
          <mat-error *ngIf="settings.maxSpeed < 1"> Minimi nopeus on 1km </mat-error>
        </mat-form-field>
      </li>
    </ul>
  </div>
</mat-card>
<mat-card class="mat-elevation-z0">
  <h3 mat-h3>Yleistä</h3>
  <div class="checkbox-section">
    <ul>
      <li>
        <mat-checkbox (change)="changeDarkMode($event)" [(ngModel)]="darkMode">Tumma teema</mat-checkbox>
      </li>
    </ul>
  </div>
  <button *ngIf="showPWAInstallButton" mat-button color="primary" (click)="addToHomescreenClick()">
    LISÄÄ AUTOILUMITTARI ALOITUSNÄYTÖLLE
  </button>
</mat-card>
