/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: whitesmoke;
}

/* Material dark theme */
@import '~@angular/material/theming';

$dark-primary: mat-palette($mat-cyan);
$dark-accent: mat-palette($mat-amber);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
}

/* Link color same as text so it will be visible in light and dark */
a {
  color: inherit !important;
}

/* For icon selection menu */
.mat-menu-panel {
  min-width: 70px !important;
}

/* For lighthouse Accessability */
.mat-tab-label {
  opacity: 0.9 !important;
}
.mat-form-field-label {
  color: inherit !important;
}
